older/
.DS_Store

# Terraform state and plan files
*.tfstate
*.tfstate.*
*.tfplan

# Terraform variable files
*.tfvars
terraform/.terraform
terraform/.terraform.lock.hcl

# Exclude all json files that are not samples in the test folder
test/*.json
!test/sample_*.json


# Currently exclude tests
tests/
pytest.ini
*/.venv
.pytest_cache