older/
.DS_Store

# Terraform state and plan files
*.tfstate
*.tfstate.*
*.tfplan

# Terraform variable files
*.tfvars
terraform/.terraform
terraform/.terraform.lock.hcl
terraform_*/

# Exclude all json files that are not samples in the test folder
test/*.json
!test/sample_*.json


# Currently exclude tests
tests/
pytest.ini
*/.venv
.pytest_cache

#Remove node modules
presentation/*/node_modules
presentation/ui-backend/node_modules
presentation/docs

.venv/

utils.sh
events.json